#painel-sobre {
  margin-top: 20px;
}

.titulo-clientes {
  background-color: #0275D8;
  padding: 10px;
}

/* Seleciona imagens dentro de .titulo-clientes */
.titulo-clientes img {
  max-width: 100%;    /* não ultrapassa o contêiner */
  height: auto;       /* mantém proporção */
  display: block;     /* remove espaço embaixo */
  object-fit: contain;/* mantém proporção dentro do limite */
  max-height: 200px;  /* limite de altura para não estourar */
}
